.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  font-size: 2em;
  color: aliceblue;
}

a {
  color: aliceblue !important;
}

a:hover {
  color: goldenrod !important;
}
